@charset "utf-8";

/* this is using the grid workflow, adapted from lesson 4 */

html
{
	box-sizing: border-box;

	font-size: 90%;
}
*, *::before, *::after
{ /*everything*/
	box-sizing: inherit;

	font-family: "Balthazar", 'Times New Roman', Times, serif;
}

h3 /*lyric headings*/
{
	font-family: "Rancho", sans-serif;
	font-weight: bold;
	font-size: 150%;
	letter-spacing: .3rem;
}
p /*lyircs*/
{
	font-size: 110%;
}
q
{
	font-style: italic;
}

header
{
	border: 10px solid rgb(128, 0, 0);
	background: rgba(255, 0, 0, 0.251);

	grid-area: header;
	display: flex;
    flex-direction: column;
	/* justify-content: center; */
    /* margin: auto;
    padding: 2% 40%; */
	text-align: center;

	color: white;
}
header div
{
	border: 30px solid rgba(255, 0, 0, 0.251);
	background: black;
}
header h2 /*"lemon demon"*/
{
	font-family: "Amatic SC", sans-serif;
	font-size: 500%;
	margin: 0;
	font-weight: 100; /*make it thinner*/
}
header h1 /*"Spiral of Ants"*/
{
	font-family: "Rancho", cursive;
	font-size: 700%;
	margin: 0;
	font-weight: 100; /*make it thinner*/
	line-height: 95%;

	text-shadow: -5px 1px 1px rgb(112, 112, 112); /*x, y, blur raidus, colour. idk how to recreate the paint look so i just added this so it looks less plain*/
}

body
{
    background: rgb(26, 0, 37);
}
body > div
{
	background: rgb(0, 0, 0);
	width: 80%;
	margin: 0 auto;
    padding: 20px;

	display: grid;
	grid-template-areas: /* this is cool as hael*/
		"header header header"
		"lyrics lyrics cover"
		"lyrics lyrics aboutSong"
        "aboutAuthor aboutAuthor aboutAuthor"
        "footer footer footer"
	;
	grid-template-rows: auto auto auto auto 60px;
	grid-template-columns: 1fr 1fr 3.5fr; /*right grid column is big..!!!*/
	gap: 1rem; /*kinda like padding but inbetween grid elements instead of within em*/
}

#lyrics
{
	border: 5px solid rgb(212, 0, 0);
	background: rgb(255, 184, 153);

	grid-area: lyrics;
}

#cover
{
    border: 5px dotted rgb(128, 0, 0);
	background: rgb(0, 0, 0);

    grid-area: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    color: white;
}
#cover > div
{
    padding: 1rem;

    /* margin: auto; */

    display: flex;
    flex-direction: column;
}
#cover > div > div
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#cover > div > div > img
{
    padding: 1rem;
	margin: 10px;

	border: 2px solid rgb(128, 0, 0);;
}

#aboutSong
{
	border: 5px solid rgb(212, 0, 0);
	background: rgba(255, 0, 0, 0.251);

	color: rgb(153, 204, 162);

	grid-area: aboutSong;
}

#aboutAuthor
{
	border: 5px solid rgb(98, 164, 110);
	background: rgb(153, 204, 162);

	color: rgb(66, 0, 0);

	grid-area: aboutAuthor;

	display: flex;
    flex-direction: row;
    justify-content: center;
}
#aboutAuthor img
{

}

footer
{
	border: 5px solid rgb(128, 0, 0);
	background: rgba(255, 0, 0, 0.251);

	color: rgb(153, 204, 162);

	grid-area: footer;
}

/* all text */
h1, h2, h3, p
{
	padding: 0 3%;
}
