@charset "utf-8";

/* this is using the grid workflow */

html
{
	box-sizing: border-box;
}
*, *::before, *::after
{ /*everything*/
	box-sizing: inherit;
}

header
{
	border: 10px solid rgb(0, 0, 0);
	background: #CCF;

	grid-area: header;
	display: flex;
    /* flex-direction: column; */
	justify-content: center;
    /* margin: auto;
    padding: 2% 40%; */
}
header h3
{
    padding: 10px;
}

body
{
    background: rgb(26, 0, 37);
}
body > div
{
	background: rgb(0, 0, 0);
	width: 80%;
	margin: 0 auto;
    padding: 20px;

	display: grid;
	grid-template-areas: /* this is cool as hael*/
		"header header header"
		"lyrics lyrics cover"
		"lyrics lyrics aboutSong"
        "aboutAuthor aboutAuthor aboutAuthor"
        "footer footer footer"
	;
	grid-template-rows: auto auto auto auto 60px;
	grid-template-columns: 1fr 1fr 3.5fr; /*right grid column is big..!!!*/
	gap: 1rem; /*kinda like padding but inbetween grid elements instead of within em*/
}

#lyrics
{
	border: 5px dotted darkorange;
	background: #FC9;

	grid-area: lyrics;
}

#aboutSong
{
	border: 5px dotted purple;
	background: #C9C;

	grid-area: aboutSong;
}

#aboutAuthor
{
	border: 5px dotted purple;
	background: #C9C;

	grid-area: aboutAuthor;
}

#cover
{
    border: 5px dotted rgb(128, 0, 0);
	background: rgb(0, 0, 0);

    grid-area: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    color: white;
}
#cover > div
{
    padding: 1rem;

    /* margin: auto; */

    display: flex;
    flex-direction: column;
}
#cover > div > div
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#cover > div > div > img
{
    padding: 1rem;
}

footer
{
	border: 5px dotted orange;
	background: #FF9;

	grid-area: footer;
}
