@charset "UTF-8";



html {
	/* DONE 2: Set base font size */
	font-size: 100%; /* 100% of the browser's font size, which is often editable in its settings. chrome default is medium. */
	/* DONE 3: Set base line-height (leading) */
	line-height: 1.4;
	/* DONE 4: Set base font-family (font stack) */
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; /* chooses whatever leftmost font is installed; all the rest are backups. serif is a category, so worst case scenario, it picks any serif font. quotes are just for spaces */
	background: #111;
	/* DONE 10a: set the background image */
	background-image: url("../images/how-much.jpg");
	/* Image credit: How much? by el patojo CC https://www.flickr.com/photos/elpatojo/250157893 */
	/* DONE 10b: set the background attachment */
	background-attachment: fixed;
	/* DONE 10c: set the background image size to cover the viewport */
	background-size: cover;
}
/* DONE 5: Set font sizes according to a typographic scale (h1-h6 and p) */
h1 {
	font-size: 4.8rem; /* root em makes this 4.8x the root font size */
	/* DONE 7a: Set primary heading font - use "Alfa Slab One" from Google Fonts - place the appropriate @import at the top of this CSS file, then set the font-family to the same, with a fallback to "Rockwell" - then set font-weight to normal (we don't need to bold these fonts) */
	font-family: "Alfa Slab One", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; /*import custom font. it has no numero character :(*/
	font-weight: normal; /*remove bold*/
	/* ...try editing the CSS in the browser dev tools to see the fallback if the Google Font fails to load */
}
h1 em {
	/* DONE 7e: The numero character/symbol is not heavy enough for the surrounding text, so we will set it with a heavy font, and eliminate the italics */
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-style: normal; /*remove italics*/
}
h2 {
	font-size: 3.6rem;
	/* DONE 7b: Set subheading font to 'Century Gothic', with a fallback to Futura for Mac, then lastly to sans-serif */
	font-family: 'Century Gothic', Futura, sans-serif;
	font-weight: normal;
}
h3 {
	font-size: 2.4rem;
	/* DONE 7c: Set tertiary heading font to the same as above, then transform all h3 elements to UPPERCASE, with no bottom margin */
	font-family: 'Century Gothic', Futura, sans-serif;
	font-weight: normal;
	text-transform: uppercase;
}
h4 {
	font-size: 2.1rem; /*sizing comes from a chart thing*/
}
h5 {
	font-size: 1.8rem;
}
h6 {
	font-size: 1.4rem;
}
p {
	font-size: 1.2rem;
}
/* DONE 7d: Set font for p in header to the same as the h2 and the h3 elements, using a descendant (contextual) selector */
header p {
	font-family: 'Century Gothic', Futura, sans-serif;
	font-weight: normal;
}
/* DONE 9a: Reduce space between headings in page-level header H1 */
header h1 {
	margin: 0;
}
/* DONE 8: Bump down subhead font size at top of article */
header h2 {
	font-size: 2.4rem;
	/* DONE 9b: Reduce space between headings in page-level header H2 */
	margin-top: 0;
}
/* DONE 9c: Move h3 and p closer together in article sections */
section h3 {
	margin-bottom: 0;
	/* STEP 13: Visual hierarchy needs improvement - reduce font size */
	
}
section p {
	
	/* DONE 12a: Measure is 85+ - too long - bump up the font size */
	/*too bad*/
	/* DONE 12b: Play with the leading (line-height) - raise to 1.8, then reduce to 1.2 - discuss typographic color and vertical rhythm */
	line-height: 1.6; /*default is 1.4*/
	/* DONE 14a: Justification with text-align - left, right, center, justify */
	text-align: justify;
	/* DONE 14b: Hyphenation - change BODY width to 50% down below, then resize the window width in your browser to see the effect */
	hyphens: auto;
	/* DONE 16a: Play with some non-standard CSS properties like text-rendering - this can enable things like ligatures - look at the combination of letters f and i */
	text-rendering: optimizeLegibility; /*some fonts can merge letters (ex: fi) to be cool and stuff*/
	/* STEP 16b: Change the font to Calibri, then watch the 'fi' and 'fl' combination render as a ligature - for some reason, 'ff' does not for this font */
	/* https://developer.mozilla.org/en-US/docs/Web/CSS/text-rendering */
}
/* DONE 6: Basic layout - auto-centred single-column fixed width */
body {
	width: 640px;
	margin: 0 auto; /*vertical is 0, horizontal is auto*/
	/* STEP 14c: Change width of BODY to see how hyphenation works - then comment out */
	
	
	background: #eee;
}
header {
	background: #5C8096;
	/* DONE 11a: Add whitespace - very important */
	padding: 3rem;
	/* STEP 15: Inset text effect with text shadow */
	
}
section {
	/* DONE 11b: Add more whitespace */
	padding: 0 3rem 3rem 3rem;
}
footer {
	background: #333;
	color: #eee;
	/* DONE 11c. Add even more whitespace */
	padding: 2rem 3rem;
}
footer h3 {
	font-size: 1.4em;
}
footer p, footer small {
	font-family: "Century Gothic", Futura, sans-serif;
}

