@charset "utf-8";

/* consistent box sizing */
html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

/* prefers-reduced-motion requirement */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* NOTE: positioning of selectors is mostly based on order in html */

body {
    width: 100%;
    margin: auto;

    background-color: black;
}

/* skip to main */
.skip-link {
    /* TEMPORARY so that i can focus on the header */
    position: fixed;
}

/* header stuff */

/* container */
header div {
    display: flex;
    flex-direction: column;

    text-align: center;

    background-color: rgb(12, 0, 70);

    /* image credit: James Web Telescope from Rawpixel - https://www.rawpixel.com/image/7514064/photo-image-public-domain-galaxy-space */
    /* TODO: UNCOMMENT THE IMAGE */
    background-image: url("images/James Web Telescope - Rawpixel.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position-x: center;
    background-position-y: top; */
    
    height: 35rem;
    width: 100%;

    /* cinematic black bars at top and bottom */
    margin: 4rem auto;

    color: white;
}

/* title */
header h1 {
    text-shadow: black 0 5px 5px;
    text-decoration: underline;
    font-size: 10rem;

    margin: 5rem auto 0 auto;
    width: 100%;
}

/* subheader */
header h2 {
    font-style: italic;
    color: black;
    background-color: rgb(255 187 86);
    border: #000000 .2rem solid;

    margin: 1rem auto 0 auto;
    /* width: 50%; */
    width: 47.5rem;
}

/* authors */
header p {
    background-image: linear-gradient(black, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));

    margin: 0 auto;
    /* width: 50%; */
    width: 47.5rem;

    padding: 1rem 0 2rem 0;
}
header p a {
    color: cyan;
}

/* star svg */
header div span svg {
    width: 10px;
}

/* navigation */
nav {
    background-image: linear-gradient(black, #8c4029, #8c4029, black);
}

@media only screen and (max-width: 760px) {
    /* header */

    /* title */
    header h1 {
        font-size: 20vw;
    }

    /* subheader */
    header h2 {
        width: 95%;
    }

    /* authors */
    header p {
        width: 95%;
    }
}
