@charset "utf-8";

html
{
	box-sizing: border-box;
}
*, *::before, *::after /*everything*/
{
	box-sizing: inherit;
}

body
{
    background-color: rgb(202, 202, 202);
}

header
{
    font-family: 'Courier New', Courier, monospace;
}

header p
{
    text-transform: uppercase;

    position: absolute;
    top: 60px;

    font-size: 90%;

    margin-bottom: 0;
    margin-left: 20px;
    letter-spacing: -.03rem;
}

header h1
{
    text-transform: lowercase;
    color: rgb(255, 123, 0);
    font-weight: normal;

    font-size: 850%;
    text-align: center;

    margin-top: 0;
    letter-spacing: -.9rem;
}

div
{
    width: 60%;
    margin: auto;
    padding: 5%;

    background-color: white;
}

main
{
    display: flow-root;
}

section
{
    background: red;

    float: right;
    /* clear: both; */

    width: 60%;
}

aside
{
    float: left;
    /* clear: both; */

    background: blue;

    position: relative;
    top: -850px;

    width: 40%;
}

img
{
    width: 20%;
}
