@charset "utf-8";

html
{
	box-sizing: border-box;
}
*, *::before, *::after /*everything*/
{
	box-sizing: inherit;
}

body
{
    background-color: rgb(202, 202, 202);
}

p
{
    font-size: 90%;
}

header
{
    font-family: 'Courier New', Courier, monospace;
}

header p
{
    text-transform: uppercase;

    position: absolute;
    top: 60px;

    font-size: 90%;

    margin-bottom: 0;
    margin-left: 20px;
    letter-spacing: -.03rem;
}

header h1
{
    text-transform: lowercase;
    color: rgb(255, 123, 0);
    font-weight: normal;

    font-size: 850%;
    text-align: center;

    margin: 0;
    letter-spacing: -.9rem;
}

div
{
    width: 60%;
    margin: auto;
    padding: 5%;

    background-color: white;
}

main
{
    display: flow-root;
}

aside
{
    float: left;
    clear: left;

    /* background: blue; */

    position: relative;
    top: -395px;

    width: 40%;
}

figure
{
    margin: 0;

    height: 560px;
}

img
{
    width: 345px;
}

figcaption p:nth-of-type(1)
{
    position: relative;
    top: -155px;

    color: white;

    width: 50%;

    margin-left: 65px;

    font-family: monospace;
}

figcaption p:nth-of-type(1) em
{
    font-size: 530%;

    font-style: normal;

    /* font-weight: bold; */

    font-family: 'Courier New', Courier, monospace;
    letter-spacing: -.8rem;

    padding-right: 1000px;

    margin: 0;

    position: relative;
    top: 15px;
    left: -7px;
}

figcaption p:nth-of-type(2)
{
    font-family: monospace;

    text-transform: uppercase;

    /* simple rotate css from https://stackoverflow.com/questions/6028128/how-do-i-rotate-text-in-css */
    transform:rotate(-90deg);

    font-size: 80%;

    position: relative;
    left: -145px;
    top: -75px;
}

aside:nth-of-type(2)
{
    border: 2px solid orange;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.163);

    padding: 10px;
    padding-top: 0;

    margin-left: 45px;
    margin-top: 15px;

    letter-spacing: -.03rem;
}

aside:nth-of-type(2) h2
{
    margin: 0;

    text-transform: lowercase;
    font-size: 230%;
    font-weight: normal;
}

aside:nth-of-type(2) p, aside:nth-of-type(2) ol
{
    margin: 3px 0;

    font-family: monospace;
    font-weight: bold;

    letter-spacing: -.05rem;
}

aside:nth-of-type(2) p em
{
    text-transform: uppercase;
    font-style: normal;

    /* padding-right: 70px; */
    font-size: 130%;
}

aside:nth-of-type(2) ol
{
    /* no idea how to remove the periods */
}

section
{
    /* background: red; */

    float: right;
    clear: right;

    width: 50%;
}

section h2
{
    border-top: 13px solid black;

    /* position: relative;
    top: 9px; */

    font-weight: normal;

    font-size: 200%;
    letter-spacing: -.1rem;

    margin-bottom: 0;
}
section:nth-of-type(1) h2
{
    border-color: rgb(101, 158, 35);
}
section:nth-of-type(2) h2
{
    border-color: rgb(220, 0, 106);
}
section:nth-of-type(3) h2
{
    border-color: rgb(0, 165, 165);
}

section ol
{
    margin: 0;

    font-family: monospace;
    font-weight: bold;

    letter-spacing: -.05rem;
}

section ol li
{
    margin-bottom: 5px;
}

section h3, section p
{
    /* margin: 0; */

    font-size: 100%;
}

section h3
{
    text-transform: uppercase;

    /* thank you https://www.geeksforgeeks.org/html/how-to-avoid-a-new-line-with-tag/ for how to avoid a line break */
    display: inline;
}

section:nth-of-type(1) h3
{
    color: rgb(101, 158, 35);
}
section:nth-of-type(2) h3
{
    color: rgb(220, 0, 106);
}
section:nth-of-type(3) h3
{
    color: rgb(0, 165, 165);
}

section p
{
    font-weight: normal;

    display: inline;
}

section p strong
{
    text-transform: capitalize;
}

section p abbr
{
    font-weight: bold;

    text-decoration: none;
}
