@charset "utf-8";

html {
	box-sizing: border-box;
}
*, *::before, *::after {
	box-sizing: inherit;
}

body {
	background: #CCC;
}

#container {
	border: 5px dotted red;
	background: #FCC;
	width: 80%;
	margin: 0 auto;
	/* DONE 1: Set the container to display: grid; */
	display: grid;
	/* DONE 7: Plot out the grid-template-areas */
	grid-template-areas: /* this is cool as hael*/
		"header header advert"
		"subnav content advert"
		"subnav footer footer"
	;
	/* DONE 8: Control the height of the grid rows */
	grid-template-rows: 150px auto 100px; /*first row (header), 2nd row (content), 3rd row (footer)*/
	/* DONE 9: Control the width of the grid columns (try the fr unit) */
	grid-template-columns: 1fr 3fr 1fr; /*middle grid column is big..!!!*/
	/* DONE 10b: Set the grid-gap */
	gap: 1rem; /*kinda like padding but inbetween grid elements instead of within em*/
}

header {
	border: 5px dotted blue;
	background: #CCF;
	/* DONE 2: Identify the header as a grid-area */
	grid-area: header;
	/* DONE 11a: Fix the <header> - set display: flex; to have the <h1> and the <nav> sit beside each other */
	display: flex;
	/* DONE 11b: Set them at either end of the <header> with justify-content: space-between; */
	justify-content: space-between;
	/* What do you think? Which of the three methods do you think was the most appropriate for the "Holy Grail" layout? */
}

header nav ul {
	list-style-type: none;
	padding: 0;
}

header nav ul li {
	display: inline;
}

#container > nav {
	border: 5px dotted green;
	background: #CFC;
	/* DONE 3: Identify the nav as a grid-area */
	grid-area: subnav;
}

section {
	border: 5px dotted darkorange;
	background: #FC9;
	/* DONE 4: Identify the section as a grid-area */
	grid-area: content;
}

aside {
	border: 5px dotted purple;
	background: #C9C;
	/* DONE 5: Identify the aside as a grid-area */
	grid-area: advert;
}

footer {
	border: 5px dotted orange;
	background: #FF9;
	/* DONE 6: Identify the footer as a grid-area */
	grid-area: footer;
}

header,
#container > nav,
#container > section,
#container > aside,
footer {
    /* DONE 10a: add some padding to the main layout containers to give the text some room to breathe - see the effect in the browser, then comment this out and head up to the #container rule for an alternative */
    /* padding: 2%; */
}
