@charset "utf-8";

/* DONE 1b: Change the box-model rendering default from content-box to border-box */
html {
	box-sizing: border-box; /* everything is contained properly and it makes my life so much easier https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/box-sizing */
}
*, *::before, *::after {
	box-sizing: inherit; /* IMPORTANT */
}

body {
	background: #CCC;
}

#container {
	border: 5px dotted red;
	background: #FCC;
	/* DONE 2: set width of #container to 80% of body */
	width: 80%;
	/* DONE 3: center the entire layout with auto left and right margins */
	margin: 0 auto;
}
header {
	border: 5px dotted blue;
	background: #CCF;
	/* DONE 8c: Set the header to float: left; to restore the height to auto to contain the children */
	/* float: left; */
	display: flow-root;
	/* DONE 8d: Now set the width to 100% to push the <footer> content back down where it belongs (wow)! */
	width: 100%;
}
header h1 {
	/* DONE 8a: Opposing floats - float the h1 to the left */
	float: left;
}
header nav {
	/* DONE 8b: Float the nav element to the right - notice how the parent element is now height: 0; just like the <main> element - what a mess! */
	float: right;
}
header nav ul {
	list-style-type: none;
	padding: 0;
}
header nav ul li {
	display: inline;
}
main {
	border: 5px dotted black;
	background: darkgray;
	/* DONE 7c: "Set a float to clear a float" - Set the main element to float: left; and see how it now encapsulates its children with height: auto; - this helps clear the footer properly */
	/* float: left; */ /* makes the height automatically encapsulate all the floating children */
	display: flow-root; /* better apparently */
}
main > nav {
	border: 5px dotted green;
	background: #CFC;
	/* DONE 4a: set the width of the first sidebar to 20% */
	width: 20%;
	/* DONE 4b: float the column to the left */
	float: left; /* makes other columns flow into it like water */
}
main > section {
	border: 5px dotted darkorange;
	background: #FC9;
	/* DONE 5a: set the width of the main (centre) column to 60% */
	width: 60%;
	/* DONE 5b: float the column to the left */
	float: left;
}
main > aside {
	border: 5px dotted purple;
	background: #C9C;
	/* DONE 6a: set the width of the second sidebar to 20% */
	width: 20%;
	/* DONE 6b: float the column to the left */
	float: left;
}
footer {
	border: 5px dotted orange;
	background: #FF9;
	/* DONE 7a: clear the footer (left | right | both) */
	/* clear: both; */ /* left: since everything is floated on the left, this moves the footer to the bottom of whicher portion goes lower. both just looks at both versions so its easier (float right will work) */
	/* DONE 7b: Notice that the <main> element has collapsed - this is because all its children are floated - now comment out the above clear property and refresh the browser tab */
}
header,
main > nav,
main > section,
main > aside,
footer {
	/* STEP 9: add some padding to the main layout containers to give the text some room to breathe - then head over to flexbox.html to see how to do this an easier way */
	
}
